<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<boddy>
    <div id="app">
        <form>
            <input type="text" books="books" v-model:value="books">
        </form>
        <li v-for="item in items" :key="item.message">
           Kalkulus Dasar
        <li v-for="item in items" :key="item.message">
            Fisika Dasar 
        <li v-for="item in items" :key="item.message">
            Aljabar Linier Elementer
        <li v-for="item in items" :key="item.message">
            Aljabar Abstrak
        <li v-for="item in items" :key="item.message">
            Algoritma Pemrograman      
    </div>
    <script> src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"</script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                itmes: [
                    { massage: " Kalkulus Dasar " },
                    { massage: " Fisika Dasar " },
                    { massage: " Aljabar Linier Elementer " },
                    { massage: " Aljabar Abstrak " },
                    { massage: " Algoritma Pemrograman " }
                ]
                    
            }
        })
    </script>

</boddy>    
</html>